*.dav
*.aup
*.au
*.bin
*.proxybin
*.GeoPcDx
*.TgPcDx
*.ban
**/CTA5000 - Old/**/*
**/CTA5000 - Old/*
*.dcsv
**/Class377/**/*
**/Class377/*
/RailVehicles/Electric/CTA5000/CTA5000/textures/signs/Green-Gills.png
/RailVehicles/Electric/CTA5000/CTA5000/textures/signs/Green_Gills_sm.png
/Version.json
